.myFavoriteProductsContent{
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    max-width: 1400px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.myFavoriteProductsContent::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media (max-width: 1300px) {
    .myFavoriteProductsContent{
        grid-template-columns: repeat(2, 1fr);
        max-width: 900px;
    }
}

@media (max-width: 880px) {
    .myFavoriteProductsContent{
        grid-template-columns: repeat(1, 1fr);
    }
}