.text-type {
    display: inline-block;
    white-space: pre-wrap;
}

.text-type__cursor {
    margin-left: 0.25rem;
    display: inline-block;
    opacity: 1;
}

.text-type__cursor--hidden {
    display: none;
}
.text-type__content{
    font-size: 40px;
    font-weight: 500;
}
@media (max-width: 600px) {
    .text-type__content{
    font-size: 30px;
    }
}

@media (max-width: 400px) {
.text-type__content{
    font-size: 20px;
}
}