.MyProfileContainerWrapper{
    overflow-x: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 90vh;
}


.myProfileLeaveContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.myProfileLeaveBTNContainer{
    margin-left: 60vw;
    margin-top: 30px;
}
.myProfileLanguageContainer{
    margin-top: 30px;
}
.myProfileLanguagePSelected{
    color: #8c8c8c;
}
.myProfileLanguageP{
    color: #2b2a2a;
}


.myProfileAboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.myProfileAboutFindSellersContainer{
    background: white;
    min-height: 120px;
    min-width: 200px;
    width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    position: relative;
    grid-column: 1 / -1;
    justify-self: center;
}

@media (max-width: 1000px) {
    .MyProfileContainer{
        width: 95%;
    }
}

@media (max-width: 700px) {
    .MyProfileContainer {
    }
    .myProfileAboutContainer{
        grid-template-columns: 1fr;
    }
    .myProfileAboutFindSellersContainer{
        width: 95%;
    }
}
@media (max-width: 500px) {
    .myProfileLeaveBTNContainer{
        margin-left: 48vw;
    }
}
